.card-list {
  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__load-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  &__alert {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .card-list {
    &__container {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
    }
  }
}